@font-face {
    font-family: 'roboto-black';
    src: url('roboto-black.woff2') format('woff2'),
         url('roboto-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'roboto-bold';
    src: url('roboto-bold.woff2') format('woff2'),
         url('roboto-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'roboto-regular';
    src: url('roboto-regular.woff2') format('woff2'),
         url('roboto-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
        font-family: 'roboto-light';
        src: url('roboto-light.woff2') format('woff2'),
             url('roboto-light.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}