body{
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 55px;
  font-family: "Rubik", "DMSans", Arial, Helvetica, sans-serif;
  font‑display: swap;
  overflow-wrap: break-word;
  background-color: #E5E5E5;
  background-image: url('../img/BG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 55px;
  background-color: #F8F9FD;
}

.container {
  max-width: 1200px;
  padding: 0 8px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

/* header */
header {
  margin-bottom: 100px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
} 
.logo-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 39px;
  color: #ff6838;
}

.logo-link span {
  letter-spacing: 0.05em;
  color: #363853;
}

.header-menu-list {
  flex-basis: 445px;
  display: flex;
  justify-content: space-between;
}

.menu-link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #363853;
}

.menu-link:hover {
  color: #FF6838;
  transition: 0.2s ease-in-out;
}

.header-menu-list a::after,
.header-menu-list a::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #FF6838;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.header-menu-list a::before,
.header-menu-list a::before {
  position: absolute;
  content: "";
  bottom: 19px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #FF6838;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.header-menu-list a:hover::after,
.header-menu-list a:hover::after {
  width: 100%;
}

.header-menu-list a:hover::before,
.header-menu-list a:hover::before {
  width: 100%;
}

.user-menu-list {
  display: flex;
  flex-basis: 280px; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  border: 1px solid #FF7A50;
  color: #ffffff;
  background-color: #FF7A50;
  text-align: center;
}

.btn-cart {
  position: relative;
  width: 19px;
  height: 18px;
  border: none;
  background-color: transparent;
  color: #363853;
}

.btn-cart:before {
  position: absolute;
  left: 16px;
  bottom: 8px;

  display: block;
  min-width: 14px;
  min-height: 14px;
  padding: 2px;

  content: attr(data-count);
  color: #ffffff;

  background-color: #FF7A50;
  border-radius: 50%;

  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}

.btn-search {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  color: #363853;
}

.btn:hover {
  color: #FF7A50;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}


.btn-search:hover,
.btn-cart:hover {
  cursor: pointer;
}


.user-menu-list .btn {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px
}

/* section promo */
.promo {
  position: relative;
}

.promo .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo-text {
  max-width: 541px;
  flex-shrink: 0;
  margin: 0 auto;
  padding-top: 115px;
}

h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 66px;
  line-height: 78px;
  text-transform: capitalize;
  color: #363853;
}

h1 span {
  color: #FF7A50;
}

.promo-text p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #363853;
}

.promo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 350px;
}

.promo-list-item {
  margin: 10px auto;
}

.promo-list li:first-child {
  margin-left: 0;
}

.promo-link {
  padding: 14px 22px;
  border-radius: 5px;
}

.promo-img {
  max-width: 640px;
  height: auto;
  margin: 0 auto;
}


/* section category */
.category {
  padding-top: 95px;
}

.section-heading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-transform: capitalize;
  text-align: center;
  color: #363853;
}

.section-heading span {
  color: #FF7A50;
}

.category-menu {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-template-rows: auto;
  /* column-gap: 25px; */
  justify-content: space-between;

  margin-bottom: 30px;
}

.category-menu-item {
  width: 210px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
}

.menu-btn {
  display: flex;
  flex-shrink: 0;
  flex-basis: 210px;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  margin: 10px 0;
  padding: 13px 0;

  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.menu-btn:hover {
  cursor: pointer;
}

.menu-btn svg {
  flex-shrink: 0;
}

.menu-btn span {
  padding-left: 9px;
}

.btn-active {
 background-color: #FF7A50;
 color: #ffffff;
}

.category-cards-list {
  /* width: 1154px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-template-rows: auto;
  column-gap: 32px; */
  justify-content: space-between;
}

.cards-item {
  width: 210px;
  padding-bottom: 22px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 12px;
}

figure {
  width: 210px;
  padding: 12px 16px 10px 16px;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
}

.rating-list {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 30px;
}

.cards-item p {
  margin: 10px auto;
  text-align: center;
}

.card-btn {
  padding: 7px 13px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  border-radius: 2px;
}